// Font use @import



@import url(https://fonts.googleapis.com/css?family=Cardo:regular,italic,700?display=swap);

@import url(https://fonts.googleapis.com/css?family=Roboto:300,300italic,regular,italic,700,700italic?display=swap);

// Resetting style

* {
   padding: 0;
   margin: 0;
   border: 0;
   &, &::before, &::after {
      box-sizing: border-box;
   }
}

a {
   color: inherit;
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
   font-size: inherit;
   font-weight: inherit;
}

button, input {
   font-family: inherit;
   font-weight: inherit;
   font-size: inherit;
   cursor: pointer;
   color: inherit;
   background-color: transparent;
}

// Main styles

html, body {
   height: 100%;
   min-width: 320px;
   line-height: 1;
}

html {
   font-size: 62.5%;
}

body {
   font-size: 1.6rem;
   font-family: Roboto, sans-serif;
   color: #253237;
}

.wrapper {
   min-height: 100%;
   width: 100%;
   overflow: clip;
   display: flex;
   flex-direction: column;
   //margin: 0px 0px 40px 0px;
   //padding: 0px 0px 40px 0px;
}

.page {
   flex: 1 1 auto;
}

[class*="__container"] {
   max-width: 144rem;
   padding: 0px 4.0rem 0px 4rem;
   margin: 0 auto;
}

// Modules

.wrapper-background {
   background-color: #F2FDFF;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
}

.title {
   font-size: 3.6rem;
   color: #000;
}

.btn {
   flex: 0 0 auto;
   background-color: #FF4F79;
   color: #fff;
   padding: 1rem 4.0rem;
   border-radius: 47px;
   transition: background-color 0.3s;
   &:hover, &:active {
      background-color: #253237;
   }
}

.btn--dark {
   background-color: #253237;
   &:hover, &:active {
      background-color: #FF4F79;
   }
}


// Style CSS

.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   min-height: 9.0rem;
   z-index: 50;
   padding: 2.5rem 0rem;
   /* .header__container */

   &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      //flex-wrap: wrap;
      gap: 3.0rem;
      @media (max-width: 655px) {
         flex-direction: column;
         row-gap: 1.5rem;
      }
   }

   /* .header__logo */

   &__logo {
      &.scroll {
         filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(152deg) brightness(101%) contrast(104%);
      }
   }

   

   /* .header__menu */

   &__menu {
      //justify-self: center;
      //width: max-content;
      
   }

   &.scroll {
      background-color: rgba(37, 50, 55, 0.9);
      color: #fff;
   }

   
}
.menu {


   /* .menu__list */

   &__list {
      flex: 1 1 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      //justify-self: center;
      column-gap: 6.0rem;
      row-gap: 1.5rem; 
      @media (max-width: 888px) {
         column-gap: 4.0rem;
         margin-right: 15px;
      }
      @media (max-width: 500px) {
         justify-content: center;
         margin-right: 0;
         column-gap: 2.0rem;
      }
   }

   /* .menu__item */

   &__item {
      
   }

   /* .menu__link */

   &__link {
      
      transition: all 0.3s;
      &:hover {
         text-decoration: underline;
         text-decoration-color: #FF4F79;
         text-underline-offset: 5px;
      }
   }
}



.page {

   /* .page__main */

   &__main {
   }
}
.main-section {
   position: relative;
   min-height: 100vh;
   //display: flex;
   

   /* .main-section__container */
   
   &__container {
      min-height: 100vh;
      flex: 1 1 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative;
      z-index: 10;
      align-items: center;
      padding-top: 9.0rem;
      gap: 2.0rem;
      @media (max-width: 920px) {
         padding-top: 15.7rem;
         padding-bottom: 9.0rem;
         gap: 8.5rem;
      }
      @media (max-width: 655px) {
         padding-top: 22.7rem;
      }
      @media (max-width: 500px) {
         padding-top: 20.7rem;
         gap: 4.0rem;
      }
   }

   /* .main-section__content */

   &__content {
      flex: 1 1 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 12.5rem;
      max-width: 80ch;
      @media (max-width: 920px) {
         gap: 6.5rem;
      }
      @media (max-width: 500px) {
         gap: 4.0rem;
      }
   }

   /* .main-section__title */

   &__title {
      //font-size: 3.6rem;
      letter-spacing: 1.5px;
      font-weight: 400;
      line-height: 1.2;
      & span {
         font-style: italic;
         font-weight: 300;
         letter-spacing: normal;
      }
      @media (max-width: 500px) {
         font-size: 2.8rem;
         line-height: 1.1;
      }
   }

   /* .main-section__text */

   &__text {
      font-size: 2rem;
      font-weight: 300;
   }

  
	&__button {
      width: max-content;
      @media (max-width: 655px) {
         align-self: center;
      }
	}



   /* .main-section__image */

   &__image {
      flex: 0 1 60%;
      cursor: grab;
      //transition: transform 12s ease;
      @media (max-width: 920px) {
         flex: 0 1 auto;
      }
   }

   .image-main {
      position: relative;
      & img {
         width: 100%;
         height: 100%;
      }
		&__background {
		}

		&__front {
         position: absolute;
         top: 0;
         left: 0;
		}
   }

   @keyframes spin-clockwise {
      from {
         transform: rotate(0deg);
      }
      to {
         transform: rotate(360deg);
      }
   }

   @keyframes spin-counter-clockwise {
      from {
         transform: rotate(360deg);
      }
      to {
         transform: rotate(0deg);
      }
   }


   /* .main-section__background */

   
}

.page {

   /* .page__main */

   &__main {
   }
}
.main-spheres {

   /* .main-spheres__container */

   &__container {
      padding-top: 5.0rem;
      padding-bottom: 5.0rem; 
   }

   /* .main-spheres__text */

   &__text {
      max-width: 59.0rem;
      font-size: 2.8rem;
      font-weight: 300;
      line-height: 3.8rem;
   }

   /* .main-spheres__grid */

   &__grid {
      
   }
}
.grid-spheres {
   padding: 3.0rem 0px 3.0rem 0px;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
   justify-items: center;
   justify-content: center;
   align-items: center;
   row-gap: 4.0rem;
   //height: min-content;

   /* .grid-spheres__item */

   .grid-spheres {

		/* .grid-spheres__item */

		&__item {
         max-width: 100%;
         & img {
            max-width: 100%;
         }
		}

		/* .grid-spheres__number */

		&__number {
         font-size: 9.7rem;
		}

		/* .grid-spheres__title */

		&__title {
         font-size: 1.8rem;
         
		}

		/* .grid-spheres__background */

		&__background {
         position: relative;
         @media (max-width: 320px) {
            max-width: 280px;
         }
		}
}
.item-spheres {
      position: relative;
		/* .item-spheres__content */

		&__content {
         position: absolute;
         top: 0;
         left: 20px;
         display: flex;
         color: #fff;
         z-index: 10;
         width: 100%;
         height: 100%;
         align-items: center;
         //justify-content: space-around;
         gap: 20px;
         @media (max-width: 320px) {
            gap: 10px;
         }
		}
}

}


.page {

   /* .page__main */

   &__main {
   }
}
.main-contacts {
   position: relative;
   /* .main-contacts__container */

   &__container {
      position: relative;
      z-index: 10;
      display: flex;
      
      justify-content: space-between;
      align-items: center;
      gap: 4.0rem;
      padding: 13.0rem 0px 10.0rem 0px;
   }

   /* .main-contacts__image */

   &__image {
      flex: 1 1 50%;
   }

   /* .main-contacts__content */

   &__content {
      flex: 1 1 50%;
      max-width: 80ch;
   }

   /* .main-contacts__background */

   &__background {
   }
}
.image-main {

   /* .image-main__upper */

   &__upper {
   }
}
.content-contacts {

   /* .content-contacts__card */

   &__card {
   }
}
.card-contacts {

   /* .card-contacts__title */

   &__title {
   }

   /* .card-contacts__text */

   &__text {
   }
}
.title {
}
.cards-contacts {

   /* .cards-contacts__link */

   &__link {
   }
}


.footer {
   padding: 3.0rem 0px 3.0rem 0px;
   /* .footer__container */

   &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      //flex-wrap: wrap;
      gap: 3.0rem;
      @media (max-width: 655px) {
         flex-direction: column;
         row-gap: 1.5rem;
      }
   }

   /* .footer__logo */

   &__logo {
   }

    /* .header__logo-image */

   &__logo-image {
   }

   /* .footer__menu */

   &__menu {
   }

   /* .footer__socials */

   &__socials {
      
   }
}



  

.menu {

   /* .menu__list */

   &__list {
   }

   /* .menu__item */

   &__item {
   }

   /* .menu__link */

   &__link {
   }
}
.socials-footer {
   display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
   /* .socials-footer__item */

   &__item {
   }
}
