// Font use @import



@import url(https://fonts.googleapis.com/css?family=Cardo:regular,italic,700?display=swap);

@import url(https://fonts.googleapis.com/css?family=Roboto:300,300italic,regular,italic,700,700italic?display=swap);

// Resetting style

* {
   padding: 0;
   margin: 0;
   border: 0;
   &, &::before, &::after {
      box-sizing: border-box;
   }
}

a {
   color: inherit;
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
   font-size: inherit;
   font-weight: inherit;
}

button, input {
   font-family: inherit;
   font-weight: inherit;
   font-size: inherit;
   cursor: pointer;
   color: inherit;
   background-color: transparent;
}

// Main styles

html, body {
   height: 100%;
   min-width: 320px;
   line-height: 1;
}

html {
   font-size: 62.5%;
}

body {
   font-size: 1.6rem;
   font-family: Roboto, sans-serif;
   color: #253237;
}

.wrapper {
   min-height: 100%;
   width: 100%;
   overflow: clip;
   display: flex;
   flex-direction: column;

}

.page {
   flex: 1 1 auto;
}

[class*="__container"] {
   max-width: 144rem;
   padding: 0px 4.0rem 0px 4rem;
   margin: 0 auto;
}

// Modules

.title {
   font-size: 3.6rem;
   color: #000;
}

.btn {
   flex: 0 0 auto;
   background-color: #FF4F79;
   color: #fff;
   padding: 1rem 4.0rem;
   border-radius: 47px;
   transition: background-color 0.3s;
   &:hover {
      background-color: #253237;
   }
}

.btn--dark {
   background-color: #253237;
   &:hover {
      background-color: #FF4F79;
   }
}


// Style CSS

.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   min-height: 9.0rem;
   z-index: 50;
   padding: 2.5rem 0rem;
   /* .header__container */

   &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      //flex-wrap: wrap;
      gap: 3.0rem;
      @media (max-width: 655px) {
         flex-direction: column;
         
      }
   }

   /* .header__logo */

   &__logo {
   }

   

   /* .header__menu */

   &__menu {
      //justify-self: center;
      //width: max-content;
      
   }

   /* .header__button */

   
}
.menu {


   /* .menu__list */

   &__list {
      flex: 1 1 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 6.0rem;
      row-gap: 1.5rem; 
      @media (max-width: 888px) {
         column-gap: 4.0rem;
         
      }
   }

   /* .menu__item */

   &__item {
      
   }

   /* .menu__link */

   &__link {
      color:#000;
      transition: all 0.3s;
      &:hover {
         text-decoration: underline;
         text-decoration-color: #FF4F79;
         text-underline-offset: 5px;
      }
   }
}



.page {

   /* .page__main */

   &__main {
   }
}
.main-section {
   position: relative;
   min-height: 100vh;
   //display: flex;
   

   /* .main-section__container */
   
   &__container {
      min-height: 100vh;
      flex: 1 1 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative;
      z-index: 10;
      align-items: center;
      padding-top: 9.0rem;
   }

   /* .main-section__content */

   &__content {
      flex: 1 1 30%;
   }

   /* .main-section__title */

   &__title {
   }

   /* .main-section__text */

   &__text {
   }

   /* .main-section__image */

   &__image {
      flex: 0 1 auto;
   }

   .image-main {
      position: relative;
      & img {
         width: 100%;
         height: 100%;
      }
		&__background {
		}

		&__front {
         position: absolute;
         top: 0;
         left: 0;
		}
}


   /* .main-section__background */

   &__background {
      background-color: #F2FDFF;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
   }
}

