@import url(https://fonts.googleapis.com/css?family=Cardo:regular,italic,700?display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,300italic,regular,italic,700,700italic?display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*, *::before, *::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

button, input {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

html, body {
  height: 100%;
  min-width: 320px;
  line-height: 1;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Roboto, sans-serif;
  color: #253237;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 144rem;
  padding: 0px 4rem 0px 4rem;
  margin: 0 auto;
}

.title {
  font-size: 3.6rem;
  color: #000;
}

.btn {
  flex: 0 0 auto;
  background-color: #FF4F79;
  color: #fff;
  padding: 1rem 4rem;
  border-radius: 47px;
  transition: background-color 0.3s;
}
.btn:hover {
  background-color: #253237;
}

.btn--dark {
  background-color: #253237;
}
.btn--dark:hover {
  background-color: #FF4F79;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 9rem;
  z-index: 50;
  padding: 2.5rem 0rem;
  /* .header__container */
  /* .header__logo */
  /* .header__menu */
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
@media (max-width: 655px) {
  .header__container {
    flex-direction: column;
    row-gap: 1.5rem;
  }
}
.header__logo.scroll {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(152deg) brightness(101%) contrast(104%);
}
.header.scroll {
  background-color: rgba(37, 50, 55, 0.9);
  color: #fff;
}

.menu {
  /* .menu__list */
  /* .menu__item */
  /* .menu__link */
}
.menu__list {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  -moz-column-gap: 6rem;
       column-gap: 6rem;
  row-gap: 1.5rem;
}
@media (max-width: 888px) {
  .menu__list {
    -moz-column-gap: 4rem;
         column-gap: 4rem;
    margin-right: 15px;
  }
}
@media (max-width: 500px) {
  .menu__list {
    justify-content: center;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}
.menu__link {
  transition: all 0.3s;
}
.menu__link:hover {
  text-decoration: underline;
  text-decoration-color: #FF4F79;
  text-underline-offset: 5px;
}

.page {
  /* .page__main */
}
.main-section {
  position: relative;
  min-height: 100vh;
  /* .main-section__container */
  /* .main-section__content */
  /* .main-section__title */
  /* .main-section__text */
  /* .main-section__image */
  /* .main-section__background */
}
.main-section__container {
  min-height: 100vh;
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  align-items: center;
  padding-top: 9rem;
  gap: 2rem;
}
@media (max-width: 920px) {
  .main-section__container {
    padding-top: 15.7rem;
    padding-bottom: 9rem;
    gap: 8.5rem;
  }
}
@media (max-width: 655px) {
  .main-section__container {
    padding-top: 22.7rem;
  }
}
@media (max-width: 500px) {
  .main-section__container {
    padding-top: 20.7rem;
    gap: 4rem;
  }
}
.main-section__content {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12.5rem;
  max-width: 80ch;
}
@media (max-width: 920px) {
  .main-section__content {
    gap: 6.5rem;
  }
}
@media (max-width: 500px) {
  .main-section__content {
    gap: 4rem;
  }
}
.main-section__title {
  letter-spacing: 1.5px;
  font-weight: 400;
  line-height: 1.2;
}
.main-section__title span {
  font-style: italic;
  font-weight: 300;
  letter-spacing: normal;
}
@media (max-width: 500px) {
  .main-section__title {
    font-size: 2.8rem;
    line-height: 1.1;
  }
}
.main-section__text {
  font-size: 2rem;
  font-weight: 300;
}
.main-section__button {
  width: -moz-max-content;
  width: max-content;
}
@media (max-width: 655px) {
  .main-section__button {
    align-self: center;
  }
}
.main-section__image {
  flex: 0 1 60%;
  cursor: grab;
}
@media (max-width: 920px) {
  .main-section__image {
    flex: 0 1 auto;
  }
}
.main-section .image-main {
  position: relative;
}
.main-section .image-main img {
  width: 100%;
  height: 100%;
}
.main-section .image-main__front {
  position: absolute;
  top: 0;
  left: 0;
}
@keyframes spin-clockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin-counter-clockwise {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.main-section__background {
  background-color: #F2FDFF;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.page {
  /* .page__main */
}
.main-spheres {
  /* .main-spheres__container */
  /* .main-spheres__text */
  /* .main-spheres__grid */
}
.main-spheres__container {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.main-spheres__text {
  max-width: 59rem;
  font-size: 2.8rem;
  font-weight: 300;
  line-height: 3.8rem;
}
.grid-spheres {
  padding: 3rem 0px 3rem 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-items: center;
  align-items: center;
  row-gap: 4rem;
  /* .grid-spheres__item */
}
.grid-spheres .grid-spheres {
  /* .grid-spheres__item */
  /* .grid-spheres__number */
  /* .grid-spheres__title */
  /* .grid-spheres__background */
}
.grid-spheres .grid-spheres__number {
  font-size: 9.7rem;
}
.grid-spheres .grid-spheres__title {
  font-size: 1.8rem;
}
.grid-spheres .grid-spheres__background {
  position: relative;
}
.grid-spheres .item-spheres {
  position: relative;
  /* .item-spheres__content */
}
.grid-spheres .item-spheres__content {
  position: absolute;
  top: 0;
  left: 20px;
  display: flex;
  color: #fff;
  z-index: 10;
  width: 100%;
  height: 100%;
  align-items: center;
  gap: 20px;
}